.item{
  width: 292px;
  height: 200px;
  border: 1px solid gray;

}

.galleryImage{
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: scale 0.2s ease;
  cursor: pointer;

}

.galleryImage:hover {
  scale: 1.03;
}